<launch>
    <arg name="tcp_port" default="10100" doc="tcp port"/>
    <arg name="node_name" default="yapper_remote" doc="node name"/>
    <arg name="message_display" default="screen" doc="output type"/>
    
    <node pkg="yapper" type="yapper" name="$(arg node_name)" output="$(arg message_display)">
        <param name="pkg_name" value="$(arg node_name)" />
        <param name="tcp_port" value="$(arg tcp_port)"/>
    </node>
</launch>
