<launch>
    <arg name="tcp_port" default="10100" doc="tcp port"/>
    <arg name="node_name" default="chatterbox_remote" doc="node name"/>
    <arg name="output_type" default="screen" doc="output type"/>
    <node pkg="chatterbox" type="chatterbox" name="$(arg node_name)" output="$(arg output_type)">
        <param name="pkg_name" value="$(arg node_name)" />
        <param name="tcp_port" value="$(arg tcp_port)"/>
    </node>
</launch>
